@model int;

@if (Model > 0)
{
   <span class="text-center nav-item m-2" >
       <a class="nav-link bg-info rounded-4 text-dark" asp-controller="Orders" asp-action="ShoppingCart">
            <i class="bi bi-cart4"></i> @Model
       </a>
   </span>
}
