@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-7 mfg-bg rounded-5 py-5">
    <header class="mb-3 p-3 border-bottom border-success">
        <h1 class="text-center display-2 fw-bolder displayFont fst-italic text-success">Contact Us</h1>
    </header>
    <!-- Contact Form -->

    <section class="mt-5 mx-auto">
        <div class="container text-success">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="mb-3">
                            <input 
                                type="text" 
                                class="form-control form-control-lg"
                                name="name"
                                placeholder="Name"
                                />
                        </div>
                        <div class="mb-3">
                            <input type="email"
                                   class="form-control form-control-lg"
                                   name="email"
                                   placeholder="Email" />
                        </div>
                        <div class="mb-3">
                            <textarea 
                                class="form-control form-control-lg" 
                                name="message" 
                                rows="6"
                                placeholder="Message"
                            ></textarea>
                        </div>
                        <div class="d-grid mt-5">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-secondary text-white">Send Message</button>
                                <a class="btn btn-primary text-white" asp-controller="Home" asp-action="Index">Back To Home</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
