@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-white" style="position: fixed; left: 20px; top: 55px;">
        <a class="btn btn-success" asp-controller="@Model" asp-action="Create"> <i class="bi bi-plus-circle"> Add New</i></a>
    </div>
}
