<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiecastDestiny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiecastDestiny.styles.css" asp-append-version="true" />
</head>
<body class="bg-info">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm bg-primary navbar-dark fixed-top shadow-lg box-shadow mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Diecast Destiny</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-primary"><i class="bi-list" style="font-size: 2rem; color: cornflowerblue;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Products" asp-action="Index"><i class="bi bi-car-front-fill"></i> Products</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Brands" asp-action="Index"><i class="bi bi-r-circle"></i> Brands</a></li>
                                    <li><a class="dropdown-item" asp-controller="Manufacturers" asp-action="Index"><i class="bi bi-building-gear"></i> Manufacturers</a></li>
                                    <li><a class="dropdown-item" asp-controller="Suppliers" asp-action="Index"><i class="bi bi-receipt-cutoff"></i> Suppliers</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                    <form class="d-flex float-end" asp-controller="Products" asp-action="Filter" style="padding-right: 25px;">
                        <input name="searchString" type="search" class="form-control me-2" placeholder="Search ">
                        <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                    </form>

                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    
                    <partial name="_Identity.cshtml" />
                    @*Below is commented out as I decided to go with the above option of <partial name="_Identity.cshtml"  instead*@
                    @*@await Html.RenderPartialAsync("_Identity")*@

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="mt-5 py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container text-dark">
            &copy; 2023 - Diecast Destiny 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
