<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-3">
            <h1 class="text-info text-center mb-5">Sorry, you have reached the end of the internet!</h1>
            <hr />
        <a class="btn btn-lg btn-outline-primary mt-5" asp-controller="Home" asp-action="Index">Home Page</a>
        </div>
    </div>
</div>
