<div class="container mt-6 py-6">
    <div class="col-md-6 mx-auto alert alert-success card rounded-5 p-5">
        <div class="text-center">
            <h2>Your account was created successfully!</h2>
            <p>You can now login to your account by clicking login.</p>
            <hr />
            <h3>Thank You!</h3>
        </div>
    </div>
</div>
