<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-success text-center">
            <h2>Your account was created uccessfully!</h2>
            <p>You can now login to your account by clicking login.</p>
            <hr />
            <h3>Thank You!</h3>
        </div>
    </div>
</div>
