@model Manufacturer;

@{
    ViewData["Title"] = "Manufacturer Details";
}

<div class="container mb-5 py-5">
    <img class="border-info rounded-circle my-5 mx-auto d-block" style="max-width: 350px" src="/BrandLogos/@Model.LogoURL" />
    <div class="card bg-dark col-md-8 mx-auto" style="max-width: 540px; ">
        <div class="card-header border-white">
            <h3 class="card-title fw-bold text-info">@Model.ManufacturerName</h3>
        </div>
        <div class="card-body">
            <p class="text-warning p-2">
                @Model.History
            </p>
        </div>
        <div class="card-footer border-white p-3">
            <div class="btn-group float-end">
                <a class="btn btn-primary fw-bold" asp-action="Index">Manufacturers</a>
                <a class="btn btn-success fw-bold" asp-controller="Products" asp-action="Index">Products</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="btn-group float-end">
                        <a class="btn btn-secondary fw-bold" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger fw-bold" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
}
