body {
  /*.bg-success {
      color: #20EC85;
  }
  // navy blue
  .ddark {
      color: #151269;
  }
  // royal blue
  .dprimary {
      color: #2021EC;
  }
  // aqua blue
  .dlight {
      color: #20ECEB;
  }
  // red
  .dred {
      color: #EC2021;
  }
  // pink
  .dpink {
      color: #EC2087;
  }
  // light purple
  .dltpurple {
      color: #A5A6F7;
  }
  // purple
  .btn-primary {
      box-shadow: 0px 8px 15px rgba(0,0,0, 0.3);
      border-radius: 12px;
      background-color: #EC2087;
      //color: #8520EC;
  }
  // green
  .btn-dsuccess {
      color: #20EC85;
  }*/
}
