<div class="container py-3 my-7">
    
        <div class="col-md-6 offset-3 border-bottom border-dark border-2">
            <h1 class="text-dark text-center my-5">No Results Found</h1>
        </div>

        <div class="py-3 mb-6 text-center">
            <a class="btn btn-lg btn-success fw-bold text-dark mt-5" asp-controller="Products" asp-action="Index">Back to Products</a>
        </div>
 
</div>
