<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto alert alert-success text-center">
            <h2>Order Completed Successfully</h2>
            <p>You can check all of your orders in the Orders section of your profile.</p>
            <hr />
            <h3>Thank You!</h3>
        </div>
    </div>
</div>
