@model Supplier;

@{
    ViewData["Title"] = "Delete a Supplier";
}

<div class="container py-3">
    <div class="my-4 py-5 border-bottom border-dark">
        <h1 class="text-center text-dark fw-bold">Delete Supplier: <span class="badge bg-secondary text-dark fw-bold" style="font-size: 2.5rem">@Model.Name</span></h1>
    </div>
    
        
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="DeleteSupplier">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label py-2 fw-bold text-dark"></label>
                    <input asp-for="Name" class="form-control" readonly/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label py-2 fw-bold text-dark"></label>
                    <input asp-for="Email" class="form-control" readonly/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Phone" class="control-label py-2 fw-bold text-dark"></label>
                    <input asp-for="Phone" class="form-control" readonly/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group mb-5">
                    <label asp-for="Description" class="control-label py-2 fw-bold text-dark"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for="Id"/>
                    <input type="submit" value="Confirm Delete" class="btn btn-danger fw-bold" />
                    <div class="btn-group float-end">
                        <a class="btn btn-secondary fw-bold" asp-action="Details" asp-route-id="@Model.Id">Cancel Delete</a>
                        <a class="btn btn-primary fw-bold" asp-action="Index">Back to Suppliers</a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

